<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
	
  <test name="HotelTest">
    <parameter name="dest" value="Abu Dhabi"/>
    <parameter name="travelDays" value="10"/>
	<parameter name="adults" value="3"/>
	<parameter name="child" value="2"/>
	<parameter name="room" value="3"/>
	<parameter name="destination" value="New Delhi"/>
	<parameter name="tourDuration" value="10"/>
	<parameter name="pickup" value="DEL"/>
	<parameter name="drop" value="BLR"/>
	<parameter name="travelDate" value="27"/>
	<parameter name="hour" value="15"/>
	<parameter name="minute" value="30"/>
	<parameter name="passenger" value="4"/>
	 <groups>
         <run>
            <include name = "booking_search"/>
         </run>
      </groups>
    <classes>
      <class name="bookingtest.HotelTest"/>
      <class name="bookingtest.AirPortTaxisTest"/>
      <class name="bookingtest.CarRentalTest"/>
    </classes>
  </test>
</suite>
